:root {
  --main-font: "Roboto", sans-serif;
  --accent-color: #ff6b08;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.header .container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 46px 20px 43px 21px;
  margin: 0 auto;
}

@media (min-width: 320px) {
  .container {
    width: 320px;
  }
  .gallery .container {
    margin: 0 auto;
    padding: 20px 20px 40px 20px;
  }
  .footer .container {
    margin: 0 auto;
    padding: 30px 40px 30px 40px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header .container {
    padding: 41px 76px 59px 71px;
  }
  .gallery .container {
    padding: 60px 71px;
  }
  .footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 143px 28px 143px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
  .header .container {
    padding-right: 71px;
    background: transparent;
  }
  .footer .container {
    padding: 29px 271px 29px 271px;
  }
}
.logo-img {
  height: 24px;
  width: 24px;
}
.logo-text {
  display: none;
}

.header-content {
  width: 100%;
}

.header {
  background-color: rgba(0, 0, 0, 0.56);
  background-image: url("/header-mobile.3e21c50a.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.header.library {
  background-image: url("/header-library.c3727ff9.png");
}
.header-link {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  line-height: 1.33;
  text-transform: uppercase;
}
.header-list {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 39px;
}
.header-input-wrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 26px;
  margin-top: 38px;
}
.header-input {
  width: 280px;
  border: none;
  background-color: inherit;
  border-bottom: 0.5px solid #fff;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.header-input::placeholder {
  color: #fff;
}
.header-input-icon {
  position: absolute;
  top: 22%;
  right: 0;
  width: 12px;
  height: 12px;
}
.header-input-label {
  position: relative;
}

.active::after {
  content: "";
  display: block;
  margin-top: -3px;
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
}

.header-button-wrapper {
  width: 100%;
  margin-bottom: 6px;
  margin-top: 45px;
}

.header-button-list {
  display: flex;
  justify-content: center;
}

.header-button-item:not(:last-child) {
  margin-right: 20px;
}

@media (min-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    height: fit-content;
  }
  .logo-img {
    margin-right: 10px;
  }
  .logo-text {
    display: block;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
  }

  .header-list {
    margin-top: 17px;
  }

  .header-input-wrapper {
    margin-bottom: 38px;
  }

  .header-input {
    width: 336px;
  }

  .header {
    background-image: url("/header-tablet.e7c6124e.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header-button-item:not(:last-child) {
    margin-right: 15px;
  }
}
@media (min-width: 1024px) {
  .header {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-image: url("/header.65d0926d.png");
  }
  .header.library {
    background-image: url("/header-library.c3727ff9.png");
  }

  .logo-text {
    font-weight: 500;
  }
}
.footer {
  background-color: #f7f7f7;
}

.footer-icon {
  width: 14px;
  height: 13px;
  margin-left: 8px;
  margin-right: 8px;
}

.footer-text-span {
  text-decoration-line: underline;
  white-space: nowrap;
}

.footer-subtext {
  margin-top: 10px;
  white-space: nowrap;
}

.footer-text {
  font-size: 14px;
  font-weight: 400;
  color: #545454;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-text {
    font-size: 16px;
  }

  .footer-icon {
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer-subtext {
    margin-top: 0;
  }
}
.gallery-item {
  margin-bottom: 20px;
}

.gallery-card-img {
  width: 100%;
  height: 402px;
  margin-bottom: 10px;
}

.gallery-img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
}

.modal-img {
  width: 100%;
}

.gallery-card-text {
  width: 100%;
}

.gallery-name {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000;
}

.gallery-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
  }

  .gallery-item {
    width: calc((100% - 30px) / 2);
  }

  .gallery-card-img {
    height: 398px;
  }
}
@media (min-width: 1024px) {
  .gallery-item {
    width: calc((100% - 60px) / 3);
  }
}
.button {
  width: 136px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.56);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 133%;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus, .button.active {
  background-color: var(--accent-color);
  border: transparent;
}
.button-header {
  padding: 14px 38px 12px 38px;
}
.button-modal {
  width: 113px;
  padding: 0 10px;
  height: 44px;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}
.button-modal:hover,
.button-modal :focus, .button-modal.active {
  color: #fff;
}

@media (min-width: 768px) {
  .button-modal {
    padding: 14px 10px 12px 10px;
    min-width: 136px;
  }
}
@media (min-width: 1024px) {
  .button-modal {
    margin-right: 5px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background: #fff;
}

.modal-content {
  height: 100%;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: none;
}
.modal-close-icon {
  width: 100%;
  height: 100%;
}

.is-open {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  column-gap: 30px;
  padding: 50px 20px 40px 20px;
}
.card-img {
  display: flex;
  align-items: center;
  border-radius: 5px;
  flex-basis: calc((100% - 30px) / 2);
  overflow: hidden;
}
.card .modal-img {
  object-fit: cover;
  border-radius: 5px;
}
.card-content {
  flex-basis: calc((100% - 30px) / 2);
}
.card-name {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
.card-text, .card-card-about, .card-about-description {
  font-size: 12px;
  font-weight: 500;
}
.card-text {
  margin-bottom: 10px;
  line-height: 1.33;
}
.card-text-grey {
  color: #8c8c8c;
}
.card-card-about {
  line-height: 1.33;
  text-transform: uppercase;
}
.card-about-description {
  margin-bottom: 21px;
  line-height: 1.66;
}

.wrapper-button-modal {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

@media (min-width: 768px) {
  .card-name {
    margin-top: 0px;
  }

  .modal {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }
}
@media (min-width: 1024px) {
  .modal {
    width: 882px;
    height: 568px;
  }

  .card {
    flex-direction: row;
    padding: 50px 30px 40px 30px;
  }
  .card-name {
    font-size: 30px;
  }
}

/*# sourceMappingURL=/sass.0a7c4b30.css.map */