<div class='empty-movie-list empty-js'>
  <div class='empty-movie-list-wrapper'>
    <h2 class='empty-movie-list-title'>
      <span class='empty-movie-list-title-par'>Watched</span>
      is empty...
    </h2>
    <p class='empty-movie-list-text'>There's nothing in the WATCHED yet.</p>
    <p class='empty-movie-list-text'>
      Select and add to your library to quickly find your favorite movies!
    </p>
    <a
      class='link button button-empty'
      href='https://yana-kiselova.github.io/Filmoteka/'
    >Home</a>
  </div>
</div>