<div class='header-button-wrapper'>
  <ul class='header-button-list list'>
    <li class='header-button-item item'>
      <button
        class='button button-header button-header-watched-js'
      >Watched</button>
    </li>
    <li class='header-button-item item'>
      <button class='button button-header button-header-queue-js'>queue</button>
    </li>
  </ul>
</div>