<header id="header" class="header">
  <div class="container">
    <a class="logo link animate__animated animate__heartBeat" href="">
      <img class="logo-img" src="./images/logo.png" alt="logo" />
      <p class="logo-text">Filmoteka</p>
    </a>
    <nav class="header-menu">
      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link link-home-js link active" href="#">Home</a>
        </li>
        <li class="header-item">
          <a class="header-link link-library-js link" href="#">my library</a>
        </li>
      </ul>
    </nav>
    <div class="header-content"></div>
  </div>
</header>
