.button {
  width: 136px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.56);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 133%;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
  &-header {
    padding: 14px 38px 12px 38px;
  }
  &-modal {
    width: 113px;
    padding: 0 10px;
    height: 44px;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    &:hover,
    &:focus {
      color: var(--accent-color);
      background-color: #fff;
    }
    &.button-active {
      background-color: var(--accent-color);
      color: #fff;
      border-color: var(--accent-color);
    }
  }
}

@media (min-width: 768px) {
  .button {
    &-modal {
      padding: 14px 10px 12px 10px;
      min-width: 125px;
    }
  }
}
@media (min-width: 1024px) {
  .button {
    &-modal {
      margin-right: 5px;
      min-width: 136px;
    }
  }
}
