.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  overflow-y: auto;
  &-content {
    height: 90vh;
  }
  &-close {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: none;
    &-icon {
      width: 100%;
      height: 100%;
    }
  }
  &-img {
    object-fit: cover;
    border-radius: 5px;
  }
}

.is-open {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  column-gap: 30px;
  padding: 50px 20px 40px 20px;
  &-img {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    flex-basis: calc((100% - 30px) / 2);
    overflow: hidden;
  }
  &-content {
    flex-basis: calc((100% - 30px) / 2);
  }

  &-name {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
  }

  &-text,
  &-about,
  &-about-description {
    font-size: 12px;
    font-weight: 500;
  }
  &-about {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  &-text {
    display: flex;
    margin-bottom: 10px;
    line-height: 1.33;
  }
  &-text-grey {
    width: 150px;
    color: #8c8c8c;
  }
  &-about,
  &-text-black {
    line-height: 1.33;
    text-transform: uppercase;
  }
  &-text-genres {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
  }
  &-about-description {
    margin-bottom: 21px;
    line-height: 1.66;
  }
}
.wrapper-button-modal {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}
.item-genres {
  display: flex;
}
.item-genres-text {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .modal {
    width: 618px;
    height: 562px;
    &-content {
      height: 100%;
    }
  }
  .wrapper-button-modal {
    justify-content: start;
  }
  .card {
    display: flex;
    flex-direction: row;
    padding: 41px 30px 41px 30px;
    &-name {
      margin-top: 0px;
    }
    &-img {
      align-items: start;
    }
  }
}

@media (min-width: 1024px) {
  .modal {
    width: 882px;
    height: 568px;
  }
  .card {
    flex-direction: row;
    padding: 50px 30px 40px 30px;
    &-name {
      font-size: 30px;
    }
    &-img {
      align-items: center;
    }
  }
}
