.footer {
  background-color: #f7f7f7;
}

.footer-icon {
  width: 14px;
  height: 13px;
  margin-left: 8px;
  margin-right: 8px;
}

.footer-text-span {
  text-decoration-line: underline;
  white-space: nowrap;
}
.footer-subtext {
  margin-top: 10px;
  white-space: nowrap;
}
.footer-text {
  font-size: 14px;
  font-weight: 400;
  color: #545454;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-text {
    font-size: 16px;
  }
  .footer-icon {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer-subtext {
    margin-top: 0;
  }
}
