.gallery-item {
  margin-bottom: 20px;
}
.gallery-card-img {
  width: 100%;
  height: 402px;
  margin-bottom: 10px;
}

.gallery-img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  background-color: lightgray;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(102%);
    box-shadow: 0px -3px 22px 5px rgba(0, 0, 0, 0.37),
      0px -3px 22px 5px rgba(0, 0, 0, 0.37);
  }
}
.modal-img {
  width: 100%;
}
.gallery-card-text {
  width: 100%;
}
.gallery-name {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
}
.gallery-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: var(--accent-color);
}
.vote-average {
  background-color: var(--accent-color);
  color: white;
  border-radius: 5px;
  padding: 1px 6px;
}

@media (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
  }
  .gallery-item {
    width: calc((100% - 30px) / 2);
  }
  .gallery-card-img {
    height: 398px;
  }
}
@media (min-width: 1024px) {
  .gallery-item {
    width: calc((100% - 60px) / 3);
  }
}
