.gallery-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}
.gallery-item {
  width: 274px;
}
.gallery-card-img {
  width: 100%;
  height: 398px;
  margin-bottom: 10px;
}
.gallery-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  // background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.gallery-card-text {
  width: 100%;
}
.gallery-name {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000;
}
.gallery-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: var(--accent-color);
}
